<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpZFPIIqEJGeDmmbgk6gspmOd12_ca7_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>190044924139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastfood.vendor</string>
	<key>PROJECT_ID</key>
	<string>fastfood-cbebf</string>
	<key>STORAGE_BUCKET</key>
	<string>fastfood-cbebf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190044924139:ios:6820a23e4512d77128b6ae</string>
</dict>
</plist>